<div class="ng-form">
  <div class="row">
    <div class="col-5 bg-primary ng-left">
      <h3 class="text-light">Looks like you're new here!</h3>
      <p class="ng-left-subtitle">Sign up with your details to get started</p>
    </div>
    <div class="col-7 ng-right">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">
        <div class="form-group ng-form-field">
          <input
            type="text"
            class="form-control ng-input"
            name="username"
            placeholder="Enter email address"
            formControlName="username"
            [class.is-invalid]="username.touched && username.invalid"
          />
          <small
            class="invalid-feedback ms-2"
            *ngIf="username.touched && username.errors.required"
          >
            Email is required</small
          >
          <small
            class="invalid-feedback"
            *ngIf="username.touched && username.errors.email"
            >Please enter valid email address</small
          >
          <small
            class="invalid-feedback"
            *ngIf="username.touched && username.errors.forbidden"
            >{{ username.value }} is not allowed</small
          >
        </div>
        <div class="form-group ng-form-field">
          <input
            type="password"
            class="ng-input"
            name="password"
            class="form-control ng-input"
            placeholder="Enter password"
            formControlName="password"
            [class.is-invalid]="password.touched && password.invalid"
          />
          <small
            class="invalid-feedback ms-2"
            *ngIf="password.touched && password.errors?.required"
            >Password is required</small
          >
          <small
            class="invalid-feedback ms-2"
            *ngIf="password.touched && password.errors?.minlength"
            >Password should be more than
            {{ password.errors?.minlength?.requiredLength }} characters.</small
          >

          <small
            class="invalid-feedback"
            *ngIf="password.touched && password.errors?.forbidden"
            >{{ password.value }} is not allowed</small
          >
        </div>
        <button type="submit" class="ng-submit">Signup</button>
      </form>
      <a class="ng-link-new-account" routerLink="/login"
        >Already have an account? Please login</a
      >
    </div>
  </div>
</div>
