<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" href="#">NgCart</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 ng-search">
        <input
          type="text"
          class="form-control ng-input-search"
          placeholder="Search for products, brands and more"
        />
        <i class="fas fa-search ng-search-icon"></i>
      </div>
      <div>
        <button class="btn btn-light me-5">Login</button>
        <span class="navbar-text">
          <span class="badge bg-danger">{{ productCount }}</span>
          <i class="fas fa-cart-plus ng-cart-icon"></i>
          <span class="text-small text-white" style="font-size: 18px">
            Cart</span
          >
        </span>
      </div>
    </div>
  </div>
</nav>
