<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" href="#">NgCart</a>
    <div class="navbar-collapse" id="navbarText">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 ng-search">
        <input
          type="text"
          class="form-control ng-input-search"
          placeholder="Search for products, brands and more"
        />
        <i class="fas fa-search ng-search-icon"></i>
      </div>
      <div>
        <button *ngIf="!isLogin" class="btn btn-light me-5" routerLink="/login">
          Login
        </button>

        <button
          class="btn btn-light me-3"
          *ngIf="isLogin"
          routerLink="/profile"
        >
          <img
            src="https://www.pngkit.com/png/full/128-1280585_user-icon-fa-fa-user-circle.png"
            alt=""
            height="24px"
            width="24px"
          />
        </button>

        <button
          *ngIf="isLogin"
          class="btn btn-outline-light me-5"
          (click)="logout()"
        >
          Logout
        </button>
        <span class="navbar-text">
          <span class="badge bg-danger">{{ productCount }}</span>
          <i class="fas fa-cart-plus ng-cart-icon"></i>
          <button
            class="btn btn-link btn-sm text-white"
            style="font-size: 18px"
            routerLink="/cart"
          >
            Cart
          </button>
        </span>
      </div>
    </div>
  </div>
</nav>
