.ng-form {
  width: 675px;
  height: 528px;

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 20px #0e6dfd;
}

.ng-form .row {
  padding: 0;
  margin: 0;
  height: 100%;
}

.ng-left {
  padding: 40px 33px;
  background-image: url("https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png");
  background-position: center 85%;
  background-repeat: no-repeat;
}

.ng-left-subtitle {
  font-size: 18px;
  color: #dbdbdb;
}

.ng-right {
  padding: 56px 35px 16px;
  position: relative;
}

.ng-input {
  padding: 10px;
  width: 100%;
}

.ng-input.ng-untouched,
.ng-input.ng-valid {
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.ng-form-field {
  margin-bottom: 20px;
}

.ng-submit {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
  width: 100%;
  height: 48px;
}

button:disabled {
  background-color: lightgray;
}

.ng-link-new-account {
  color: #2874f0;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}
