<app-loader *ngIf="showLoader"></app-loader>
<div class="ng-profile-card row" *ngIf="profile">
  <div class="card col-sm-7">
    <div class="card-header">Welcome User</div>
    <div class="card-body">
      <div class="alert alert-success" *ngIf="success">{{ success }}</div>
      <div class="alert alert-danger" *ngIf="error">{{ error }}</div>

      <div class="row ng-profile-row text-secondary">
        <div class="col-4">Email</div>
        <div class="col-2">:</div>
        <div class="col-6">
          {{ profile.email }}
        </div>
      </div>

      <div class="row ng-profile-title">
        <div class="col-4"><h6>Details</h6></div>
        <div class="col-8" style="text-align: right">
          <button
            class="btn btn-outline-dark btn-sm mb-2"
            (click)="toggleDetailsEdit()"
            *ngIf="!editDetails"
          >
            Edit
          </button>
        </div>
      </div>
      <form [formGroup]="detailsForm" *ngIf="editDetails">
        <div class="row ng-profile-row">
          <div class="col-4">Name</div>
          <div class="col-2">:</div>
          <div class="col-6">
            <input
              type="text"
              class="ng-control form-control"
              formControlName="name"
              maxlength="30"
            />
          </div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">Phone</div>
          <div class="col-2">:</div>
          <div class="col-6">
            <input
              type="text"
              class="ng-control form-control"
              formControlName="phone"
              maxlength="10"
            />
          </div>
        </div>
      </form>

      <div class="row">
        <div class="text-center">
          <button
            class="btn btn-outline-primary btn-sm me-2"
            (click)="saveDetails()"
            *ngIf="editDetails"
          >
            Save
          </button>
          <button
            class="btn btn-outline-warning btn-sm"
            (click)="toggleDetailsEdit()"
            *ngIf="editDetails"
          >
            Cancel
          </button>
        </div>
      </div>

      <div *ngIf="!editDetails">
        <div class="row ng-profile-row">
          <div class="col-4">Name</div>
          <div class="col-2">:</div>
          <div class="col-6">
            {{ profile.name }}
          </div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">Phone</div>
          <div class="col-2">:</div>
          <div class="col-6">
            {{ profile.phone }}
          </div>
        </div>
      </div>

      <div class="row ng-profile-title">
        <div class="col-4"><h6>Address</h6></div>
        <div class="col-8" style="text-align: right"></div>
      </div>

      <div
        *ngIf="!profile.address.length && !addressForm.value.address.length"
        class="ng-profile-title text-center p-5"
      >
        <h6>It looks you have not added your address.</h6>
        <button class="btn btn-primary" (click)="addAddressForm()">
          Add Address
        </button>
      </div>

      <div *ngFor="let address of profile.address; let last = last">
        <div class="row ng-profile-row">
          <h6 class="col-4">{{ address.title }} Address</h6>
          <div class="col-8" style="text-align: right">
            <button
              class="btn btn-outline-danger btn-sm mb-2"
              (click)="daleteAddress(address._id)"
              *ngIf="!editDetails"
            >
              Delete
            </button>
          </div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">Address Line 1</div>
          <div class="col-2">:</div>
          <div class="col-6">{{ address.addressLine1 }}</div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">Address Line 2</div>
          <div class="col-2">:</div>
          <div class="col-6">{{ address.addressLine2 }}</div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">City</div>
          <div class="col-2">:</div>
          <div class="col-6">{{ address.title }}</div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">Zip</div>
          <div class="col-2">:</div>
          <div class="col-6">{{ address.zip }}</div>
        </div>
        <div class="row ng-profile-row">
          <div class="col-4">State</div>
          <div class="col-2">:</div>
          <div class="col-6">{{ address.state }}</div>
        </div>
        <div class="row" *ngIf="last && !editAddress">
          <div class="text-center">
            <button
              class="btn btn-outline-primary btn-sm"
              (click)="addAddressForm()"
            >
              Add Address
            </button>
          </div>
        </div>
      </div>

      <form [formGroup]="addressForm">
        <div>
          <div
            formArrayName="address"
            *ngFor="
              let address of addressForm.value.address;
              let i = index;
              let last = last;
              trackBy: trackByFn
            "
          >
            <ng-container [formGroupName]="i">
              <div class="ng-form-group">
                <div class="row">
                  <div class="col-2">Address Title*</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      class="ng-control form-control"
                      formControlName="title"
                      maxlength="10"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">Address Line 1</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      class="ng-control form-control"
                      formControlName="addressLine1"
                      maxlength="20"
                    />
                  </div>

                  <div class="col-2">Address Line 2</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      class="ng-control form-control"
                      formControlName="addressLine2"
                      maxlength="20"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">City*</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      class="ng-control form-control"
                      formControlName="city"
                      maxlength="20"
                    />
                  </div>
                  <div class="col-2">Zip*</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      pattern="\d*"
                      class="ng-control form-control"
                      formControlName="zip"
                      maxlength="6"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">State*</div>
                  <div class="col-1">:</div>
                  <div class="col-3">
                    <input
                      type="text"
                      class="ng-control form-control"
                      formControlName="state"
                      maxlength="20"
                    />
                  </div>
                </div>
              </div>
              <hr />
              <div class="row" *ngIf="last">
                <div class="text-center">
                  <button
                    class="btn btn-primary me-2"
                    (click)="saveAddress()"
                    [disabled]="addressForm.invalid"
                  >
                    Save
                  </button>
                  <button
                    class="btn btn-warning me-2"
                    (click)="discardAddress()"
                  >
                    Cancel
                  </button>
                  <button
                    class="btn btn-outline-primary"
                    (click)="addAddressForm()"
                  >
                    Add More..
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- <div class="row ng-profile-row">
          <div class="col-4">Address Line 2</div>
          <div class="col-2">:</div>
          <div class="col-6">
            <input type="text" class="ng-control form-control" />
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>
