.ng-profile-card {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
}

.ng-profile-card .card {
  padding: 0;
  margin: 0;
}

.ng-column-name {
  text-align: right;
}

.ng-profile-row {
  border-bottom: 1px solid gray;
  margin: 15px;
}

.ng-profile-title {
  margin: 15px;
  margin-top: 25px;
  border-bottom: 1px solid;
}

.ng-control {
  margin-bottom: 10px;
}

.ng-form-group {
  margin: 20px;
}
