.ng-card {
  width: 250px;
  height: auto;
  text-align: center;
  margin: 25px;
}

.ng-product-image {
  width: 200px;
  height: 200px;
  align-self: center;
}

.ng-product-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ng-products {
  display: flex;
  flex-wrap: wrap;
}
