<div class="ng-form">
  <div class="row">
    <div class="col-5 bg-primary ng-left">
      <h3 class="text-light">Login</h3>
      <p class="ng-left-subtitle">
        Get access to your Orders, Wishlist and Recommendations
      </p>
    </div>
    <div class="col-7 ng-right">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <div class="form-group ng-form-field">
          <input
            type="text"
            class="form-control ng-input"
            name="username"
            ngModel
            placeholder="Enter email address"
            #username="ngModel"
            required
            email
            minlength="3"
            [ngClass]="username.invalid ? 'is-invalid' : ''"
          />
          <small
            class="invalid-feedback ms-2"
            *ngIf="username.touched && username.errors?.required"
            >Email is required</small
          >
          <small
            class="invalid-feedback"
            *ngIf="username.touched && username.errors?.email"
            >Please enter valid email address</small
          >
        </div>
        <div class="form-group ng-form-field">
          <input
            type="password"
            class="ng-input"
            name="password"
            ngModel
            class="form-control ng-input"
            placeholder="Enter password"
            #password="ngModel"
            required
            minlength="5"
            [ngClass]="password.invalid ? 'is-invalid' : ''"
          />
          <small
            class="invalid-feedback ms-2"
            *ngIf="password.touched && password.errors?.required"
            >Password is required</small
          >
          <small
            class="invalid-feedback ms-2"
            *ngIf="password.touched && password.errors?.minlength"
            >Password should be more than
            {{ password.errors?.minlength?.requiredLength }} characters.</small
          >
        </div>
        <button type="submit" class="ng-submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>

      <a class="ng-link-new-account">New to NgCart? Create an account</a>
    </div>
  </div>
</div>
