<div class="ng-login-form">
  <div class="row">
    <div class="col-5 bg-primary ng-login-left">
      <h3 class="text-light">Login</h3>
      <p class="ng-login-left-subtitle">
        Get access to your Orders, Wishlist and Recommendations
      </p>
    </div>
    <div class="col-7 ng-login-right">
      <form>
        <input type="text" class="ng-input" placeholder="Enter email address" />
        <input type="password" class="ng-input" placeholder="Enter password" />
        <button type="submit" class="ng-submit">Login</button>
      </form>

      <a class="ng-link-new-account">New to NgCart? Create an account</a>
    </div>
  </div>
</div>
