<div style="border-bottom: 1px solid lightgray">
  <div class="container ng-category">
    <div class="ng-category-item">
      <img [src]="category[0].imageUrl" alt="" class="ng-category-image" />
      <h6>{{ category[0].title }}</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/flap/128/128/image/38773f7201f9b9be.png?q=100"
        alt=""
        class="ng-category-image"
      />
      <h6>Electronics</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/flap/128/128/image/6405362ab0aaa3d5.png?q=100"
        alt=""
        class="ng-category-image"
      />
      <h6>Fashion</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/image/660/792/klscivk0/jewellery-set/g/d/j/ge-sep17-012-goldnera-original-imagytrrkbhrhpaq.jpeg?q=50"
        alt=""
        class="ng-category-image"
      />
      <h6>Jewelery</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/flap/128/128/image/69d3da6eb3f00514.png?q=100"
        alt=""
        class="ng-category-image"
      />
      <h6>Home</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/flap/128/128/image/39c66f9cc1d82569.png?q=100"
        alt=""
        class="ng-category-image"
      />
      <h6>Appliances</h6>
    </div>

    <div class="ng-category-item">
      <img
        src="https://rukminim1.flixcart.com/flap/128/128/image/5106ad42292a883d.png?q=100"
        alt=""
        class="ng-category-image"
      />
      <h6>Travel</h6>
    </div>
  </div>
</div>
